export(integrate_adaptive)
export(integrate_const)
export(integrate_n_steps)
export(integrate_simple)
export(integrate_times)
export(make_stepper)
export(make_stepper_basic)
export(make_stepper_controlled)
export(stepper_basic_types)
export(stepper_controlled)
export(stepper_controlled_types)
export(stepper_types)
export(target_cpp)
export(target_r)
exportClasses(stepper_controlled)
exportClasses(target_cpp)
exportClasses(target_r)
import(Rcpp)
import(methods)
useDynLib(rodeint)
